<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
  <img width="300" alt="Stormtrooper Helmet Logo"
    src="../../../assets/images/StormtrooperHelmetIcon.svg">

  <h1 style="margin-top: 2rem">
    StarsQuiz
  </h1>

  <button routerLink="/game" class="play-button"
    *ngIf="checkLoadEnd(); else loading">Jogar!</button>

  <ng-template #loading class="flash" id="loading">
    <div class="flash">Aguarde, carregando dados...</div>
  </ng-template>
</div>
