.main-container {
    text-align:center;
    margin-top: 2rem
}

.play-button {
    width: 10rem;
    height: 3rem;
    background-color: aqua;
    margin-top: 2rem;
    text-align: center;
    text-justify: center;
}
