
<div #detailsModal class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            <img class="details-image" [src]="imageUrl">
          </div>
          <div class="col-8">
            <label class="col-12">Espécie: {{ speciesTxt }}</label>
            <label class="col-12">Altura: {{ person.height }}</label>
            <label class="col-12">Cabelo: {{ person.hair_color }}</label>
            <label class="col-12">Planeta: {{ planetsTxt }}</label>
          </div>
          <label class="col-12">Filmes: {{ filmsTxt }}</label>
          <label class="col-12">Veículos: {{ vehiclesTxt }}</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


