<div class="game-container">
  <div class="game-header">
    <img width="60" alt="Stormtrooper Helmet Logo"
      src="../../../assets/images/StormtrooperHelmetIcon.svg">

    <h1>StarsQuiz</h1>
    <button (click)="showFinish()">Finish</button>
    <app-timer (callback)="eventReceiver($event)"></app-timer>
  </div>

  <div class="cards-content">
    <!-- items being paged -->
    <div *ngFor="let item of pagedItems">
      <app-card [person]="item" [points]="boardPoints[item.name]"
        (callback)="eventReceiver($event)"></app-card>
    </div>
  </div>

  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li class="pager-text pager-text-left" [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="fetchData(1)">&lt;&lt; First</a>
      </li>
      <li class="pager-text pager-text-left" [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="fetchData(pager.currentPage - 1)">&lt; Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="fetchData(page)">{{page}}</a>
      </li>
      <li class="pager-text pager-text-right" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="fetchData(pager.currentPage + 1)">Next &gt;</a>
      </li>
      <li class="pager-text pager-text-right" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="fetchData(pager.totalPages)">Last &gt;&gt;</a>
      </li>
  </ul>
</div>

<app-details-modal [data]="initialGameData"></app-details-modal>
<app-finish-modal></app-finish-modal>
