.game-header {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
}

.cards-content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
