
<div #finishModal class="modal fade" id="finishModal" tabindex="-1" role="dialog" aria-labelledby="finishModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Quiz Finalizado!</h5>
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close" routerLink="/main">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row text-center">
            <div class="col-12" id="points-row">
                <strong>{{ totalPoints }}</strong> Pontos!
            </div>
            <div class="col-12">
                Preencha o formulário abaixo para salvar sua pontuação:
            </div>
            <form [formGroup]="form" class="col-12 text-left form">
              <div class="col-12">
                <label for="name" style="width: 60px;"
                  [class.red-text]="form.get('name').touched && form.get('name').errors">*Nome:</label>
                <input id="name" formControlName="name" type="text" style="width: calc(100% - 60px); padding: 0"
                  [class.redRectangle]="form.get('name').touched && form.get('name').errors"/>
              </div>

              <div class="col-12">
                <label for="email" style="width: 60px;"
                  [class.red-text]="form.get('email').touched && form.get('email').errors">*Email:</label>
                <input id="email" formControlName="email" type="email" style="width: calc(100% - 60px); padding: 0"
                  [class.redRectangle]="form.get('email').touched && form.get('email').errors"/>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-dismiss="modal" routerLink="/main">Cancelar</button>
          <button type="button" class="btn btn-success"
           data-dismiss="modal" (click)="savePoints()">Salvar</button>
          <!-- <button type="button" routerLink="/main" class="btn btn-success" data-dismiss="modal">Finalizar</button> -->
        </div>
      </div>
    </div>
  </div>


