.points {
  font-size: 22px;
  text-align: center;
  line-height: 30px;
}

.form {
  padding-left: 15%;
  padding-right: 15%;
}

div + div {
  margin-top: 20px;
}

div > div {
  margin-bottom: 20px;
}

#points-row {
  font-size: 30px;
}

.redRectangle {
  border: 2px solid red;
  padding: 5px;
}

.red-text {
  color: red;
}
